In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('sales_data.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      369 non-null    object
 1   product   369 non-null    object
 2   category  369 non-null    object
 3   price     367 non-null    float64
 4   quantity  368 non-null    float64
 5   revenue   368 non-null    float64
dtypes: float64(3), object(3)
memory usage: 17.4+ KB

In [4]:
data.describe()

             price    quantity      revenue
count   367.000000  368.000000   368.000000
mean    211.226158   14.565217  2060.679348
std     227.335170    8.595740  1910.930790
min      20.000000    3.000000   300.000000
25%      50.000000    8.000000   800.000000
50%     100.000000   12.000000  1200.000000
75%     300.000000   20.000000  2400.000000
max    1200.000000   50.000000  7200.000000

In [5]:
data.head()

       date     product     category   price  quantity  revenue
0  1/1/2022  Smartphone  Electronics   600.0      10.0   6000.0
1  1/1/2022      Laptop  Electronics  1200.0       5.0   6000.0
2  1/2/2022     T-Shirt     Clothing    20.0      50.0   1000.0
3  1/3/2022  Headphones  Electronics   100.0      20.0   2000.0
4  1/4/2022     T-Shirt     Clothing    20.0      25.0    500.0

In [6]:
data.fillna(0, inplace=True)

In [7]:
# Total Revenue
total_revenue = data['revenue'].sum()
print("Total Revenue for the Year: $", total_revenue)

Total Revenue for the Year: $ 758330.0

In [8]:
# Product with heighst revenue
products = set(data['product'])
pro_dict= {'Backpack':0,
 'Coat':0,
 'Headphones':0,
 'Hoodie':0,
 'Jeans':0,
 'Laptop':0,
 'Smartphone':0,
 'Smartwatch':0,
 'Sneakers':0,
 'Speaker':0,
 'T-Shirt':0,
 'Tablet':0,
 'Wallet':0,
 'Watch':0}
for j in range(len(data['product'])):
        for i in products:
            if data['product'][j] == i:
                pro_dict[i] += data['revenue'][j]
max_value = max(pro_dict.values())
max_key = max(pro_dict, key=lambda k: pro_dict[k])
print(f'product had the highest revenue : {max_key} with revenue : {max_value}')

product had the highest revenue : Smartphone with revenue : 434400.0

In [9]:
# Average price of a product sold
average_price = data['price'].mean()
print(f"Average Price of a Product Sold: ${average_price}")

Average Price of a Product Sold: $210.08130081300814

In [10]:
# Total quantity
category_quantity = data.groupby('category')['quantity'].sum()
print(f"Total Quantity of Products Sold in Each Category: {category_quantity}")

total_quantity = data['quantity'].sum()
print(f"Total quantity of products for the Year:{total_quantity}")

Total Quantity of Products Sold in Each Category: category
Accessories     962.0
Bags            390.0
Bgas             18.0
Clohting         30.0
Clothing       2251.0
Electronics    1439.0
Shoes           258.0
Shoeses          12.0
Name: quantity, dtype: float64
Total quantity of products for the Year:5360.0

In [11]:
# Category with heighest reveenue
Categories = set(data['category'])

cate_dict= {'Accessories':0,
 'Bags':0,
 'Bgas':0,
 'Clohting':0,
 'Clothing':0,
 'Electronics':0,
 'Shoes':0,
 'Shoeses':0}
for j in range(len(data['category'])):
        for i in Categories:
            if data['category'][j] == i:
                cate_dict[i] += data['revenue'][j]
max_value = max(cate_dict.values())
max_key = max(cate_dict, key=lambda k: cate_dict[k])
print(f'category had the highest revenue : {max_key} with revenue : {max_value}')

category had the highest revenue : Electronics with revenue : 516080.0

In [12]:
# Calculate the average revenue per sale
average_revenue_per_sale =  data['revenue'].sum() / len(data)
print(f"Average Revenue Per Sale: ${average_revenue_per_sale}")

Average Revenue Per Sale: $2055.0948509485097

In [13]:
# Total revenue for each quarter
data['date'] = pd.to_datetime(data['date'])

data['quarter'] = data['date'].dt.to_period('Q')

quarterly_revenue = data.groupby('quarter')['revenue'].sum()
quarterly_revenue.index = quarterly_revenue.index.strftime('Q%q')

print(f"Total Revenue Generated in Each Quarter of the Year: {quarterly_revenue}")

Total Revenue Generated in Each Quarter of the Year: quarter
Q1    182100.0
Q2    183970.0
Q3    197680.0
Q4    194580.0
Name: revenue, dtype: float64